.block{
    
 background-color:  appworkspace ;
 padding:20px;
 box-sizing: border-box;
}
.relative{
 position:relative;
 border:3px solid green;
 top:400px;
 left:500px;
 width:300px;
 height: 300px;
}
    
a{
 display:block;    
}
body{    
    
    background-color:  cornflowerblue;
}